<header class="header"><h1>Segovia Application</h1></header>
<nav class="nav">
    <p>Navigation</p>
</nav>
<main class="content">
    <h1>Main area</h1>
    <p>
        In this layout, we display the areas in source order for any
        screen less that 600 pixels wide. We go to a three column layout,
        and then to a four column layout by redefining the grid, and
        the placement of items on the grid.
    </p>
</main>
<aside class="sidebar"><p>Sidebar</p></aside>
<div class="ad"><p>Advertising</p></div>
<footer class="footer"><p>Footer</p></footer>
